<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../../assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../assets/css/main_styles.css">
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body id="background-side">
    <div>
        <div class="super_container">
            <div class="sidebar">
                {{> home/side}}
            </div>
            <div class="col-md">
                <div class="row py-2">
                    {{> home/header}}
                </div>

                <div id="main" class="row py-2">
                    {{> home/content}}
                    {{> home/pagination}}
                </div>

                <div class="row py-2">
                    {{> home/bottom}}
                </div>
            </div>
        </div>
    </div>
    <script src="../../assets/js/jquery-3.4.1.min.js"></script>
</body>

</html>

<style>
    #typemain {
        background-color: #A9F5F2;
    }

    h4 {
        text-align: center;
    }

    h1 {
        color: deeppink;
    }

    h6,
    p {
        color: black;
    }

    #background-side {
        background-image: url("../../images/background-side.jpg");
        background-size: cover;
    }
</style>