{{#each ps }}
<!-- Product -->
<div class="col-md-4 py-1">
    <div class="card shadow h-100">
        <img src="../../../sp/{{ProID}}/main.jpg" class="card-img-top" alt="..."
            onclick="detailpro({{ProID}},`{{ProName}}`,`{{TinyDes}}`,`{{FullDes}}`,{{Price}},{{Quantity}})">
        <div class="card-body">
            <h3 class="card-title">{{ProName}}</h3>
            <p class="card-text">{{TinyDes}}</p>
        </div>
    </div>
</div>
{{/each}}