<!-- Search -->
<div class="col-md ">
    <div class="card bg-dark text-white">
        <div class="row">
            <div class="col-md-2 ">
                <h4 class="card-header">LOVE.T</h4>
            </div>
            <div class="col-md-6 "></div>
            <div class="col-md-4 ">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</div>