<div class="col-sm-12">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            {{#if navs.prev}}
            <li class="page-item">
                <a class="page-link" aria-label="Previous" href="?page={{ navs.prev }}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" tabindex="-1" href="#">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {{/if}}
            {{#each pages}}
            {{#if active}}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="javascript:;">
                    {{ value }} <span class="sr-only">(current)</span>
                </a>
            </li>
            {{else}}
            <li class="page-item">
                <a class="page-link" href="?page={{ value }}">
                    {{ value }}
                </a>
            </li>
            {{/if}}
            {{/each}}
            {{#if navs.next}}
            <li class="page-item">
                <a class="page-link" aria-label="Next" href="?page={{ navs.next }}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{else}}
            <li class="page-item disabled">
                <a class="page-link" aria-disabled="true" tabindex="-1" href="#">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {{/if}}
        </ul>
    </nav>
</div>