<!-- Logo -->
<div class="sidebar_logo">
    <a href="#">
        <div><span>Love</span>.T</div>
    </a>
</div>

<!-- Sidebar Navigation -->
<nav class="sidebar_nav ">
    <ul>
        <li class="list-group-item list-group-item-success">
            <h4>CATEGORIES</h4>
        </li>
        {{#each cats}}
        <li><a href="/cat/{{CatID}}/products"
                class="list-group-item list-group-item-primary list-group-item-action {{#if isActive}}active{{/if}}">
                {{CatName}}
            </a></li>
        {{/each}}
    </ul>
</nav>